<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Analyze</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
        </div>
      </div>
    </div>
  </nav>
  <h1 style="margin: 5px;"> Welcome to text analyzer. Enter the text below</h1>
  <form action='/analyze' method='POST'> {% csrf_token %}
    <textarea name='text' style="margin: 5px; width: 1359px; height: 125px;">
        </textarea> <br>
    <input type="checkbox" name="removepunc" style="margin: 5px;"> Remove Punctuations <br>
    <input type="checkbox" name="fullcap" style="margin: 5px;"> UPPERCASE <br>
    <input type="checkbox" name="newlineremover" style="margin: 5px;"> New Line remover <br>
    <button type="submit" style="margin: 5px;">Analyze Text</button>
  </form>
</body>

</html>